<h1>This is the new view</h1>


<form method="POST" action="/">

  <label for="a_name">Name</label>
  <input type="text" name="artist[name]" id="a_name">

  <label for="a_age">Age</label>
  <input type="number" id="a_age" name="artist[age]" >

  <label for="a_bio">Bio</label>
  <input type="text" name="artist[bio]" id="a_bio">

  <input type="submit" name="submit" value="Make an Artist">
</form>
